section.academic {
    padding: 1rem 1.5rem;
}

.academic__title {
    text-align: center;
}

.academic__courses {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

.academic__courses__box {
    flex-basis: 240px;
}

.academic__courses__item__img img {
    width: auto;
    height: 150px;
    background-color: var(--col-de-li);
}

@media (max-width: 426px) {
    .academic__courses {
        flex-direction: column;
        align-items: center;
    }
}