:root {
    --col-de-fondo: #c7d3fc;
    --col-de-link: #000257;
    --col-de-li: #fcfcfc;
    --col-de-fondo2: #f2f2f2;
}

body {
    box-sizing: border-box;
    background-color: var(--col-de-fondo);
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: justify;
}

ol,
ul,
li {
    list-style: none;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}
a {
    text-decoration: none;
    color: var(--col-de-link);
}

button:disabled {
    background: gray;
    border: 1px solid var(--col-de-li);
}

@media (max-width: 425px) {
    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/
}
