section.skills {
    background-color: var(--col-de-fondo);
    padding: 2rem 3rem;
}

.skills__title {
    text-align: center;
}

.skills__line {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 2%;
}

.skills__box {
    background-color: var(--col-de-li);
    padding-top: 60px;
    flex-basis: 150px;
}

.skills__img img {
    height: 30px;
}

@media (max-width: 426px) {
    .skills__line {
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
    .skills__box {
        padding: 10px;
        flex-basis: 100px;
        }
}
